<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Local_documentation.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Local_documentation.Settings1>
            <setting name="title" serializeAs="String">
                <value>temptitle</value>
            </setting>
            <setting name="folderpath" serializeAs="String">
                <value>C:/users</value>
            </setting>
            <setting name="themecolor" serializeAs="String">
                <value>Black</value>
            </setting>
        </Local_documentation.Settings1>
    </userSettings>
</configuration>